body {
    font-family: Raleway, sans-serif;
}

ul.top-bar {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BBB;
    position: fixed;
}

ul.top-bar li:first-child {
    padding: 0;
    width: 20%;
}

ul.top-bar li:first-child a {
    font-weight: bolder;
    font-size: 20px;
}

ul.top-bar li {
    float: left;
    line-height: 70px;
    padding: 0 40px 0 40px;
}

ul.top-bar li a {
    font-size: 30px;
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.top-bar li a:hover {
    background-color: #CCC;
}

ul.side-bar {
    top: 100px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
}

ul.side-bar li {
    text-align: center;
    padding: 10px 0 10px 0;
}

ul.side-bar li a {
    font-size: 20px;
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.side-bar li a:hover {
    background-color: #CCC;
}